@model RoleBasedAuthorization.PaginatedList<RoleBasedAuthorization.Models.Sglookup>

@{
    ViewData["Title"] = "Listing Function";

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
<style>
table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;  
}
</style>
</head>
<form asp-action="Index" method="get">

    <br/>

    <br/>
    <div class="form-actions no-color">
        <p>
            Find by data: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>

    <table id="example" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">    
    <br/>
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">ID</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Contract</a>

            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Name</a>

            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">PacteraEdgeEmail</a>

            </th>
            @*            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">StarshotCrashIsError</a>
                </th>*@
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">OneFormaID</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Active Hrs</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">InActive Hrs</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Billable InActive Hrs</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Total Hrs</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Final Amount Payable</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Additional Project Allowance</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Status</a>
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    
        @foreach (var item in Model) {
            var tm = "#myModal" + item.LookupID;
            var mid = "myModal" + item.LookupID;
            <tr>
                <td>
                @Html.DisplayFor(modelItem => item.LookupID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contract)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
                &nbsp;&nbsp;&nbsp; @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PacteraEdgeEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.oneforma)
            </td>            
            <td>
                @Html.DisplayFor(modelItem => item.ActiveHrs)
            </td>    
             <td>
                @Html.DisplayFor(modelItem => item.InactiveHrs)
            </td>  
            <td>
                @Html.DisplayFor(modelItem => item.BillableInactiveHrs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalHrs)
            </td>            
            <td>
                @Html.DisplayFor(modelItem => item.finalamountpayable)
            </td>    
             <td>
                @Html.DisplayFor(modelItem => item.USDTotal)
            </td>    
             <td>
                @Html.DisplayFor(modelItem => item.dashboardstatus)
            </td>  
            <td>
                @*<a class="btn btn-info" href="/LossHRApproval/Approve/@item.OfflineHrsID">Approve</a> |
                *@
                <a class="btn btn-info" href="~/AnnotatorApproval/OnPostDelete?id=@item.LookupID" asp-page-handler="Delete" asp-route-Id="@item.LookupID" id="approveBtn" class="btn bg-danger mr-1">Approve</a>
                |  
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="@tm">
                    Reject 
                </button>
                            
                <div class="modal fade" id="@mid" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">Reject Confirmation</h4>
                            </div>
                            <div class="modal-body">
                                Are you sure want to reject this item?
                            </div>
                            @using (Html.BeginForm("OnGetComment", "AnnotatorApproval", FormMethod.Post))
                                {
                                    <div style="margin-left:15px;width:30px;">                                
                                        <textarea cols="50" rows="2" id="Comment" name="Comment" placeholder="Leave Comment ..."></textarea>
                                    </div>
                                   
                                
                                    <div class="modal-footer">
                                        <input type="hidden" name="LookupID" value="@item.LookupID" />
                                        @*<a href="~/LossHRApproval/?id=@item.OfflineHrsID" asp-page-handler="Delete" asp-route-Id="@item.OfflineHrsID" id="deleteBtn" class="btn bg-danger mr-1">Reject</a>*@
                                          <input type="submit" value="Reject" id="btnSubmit" class="btn btn-primary" onclick="verify()" />
                                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                }
                                                    

                        </div>
                    </div>
                </div>
                
            </td>
            <td>
                @if(ViewBag.Message != null) {
                                <script type="text/javascript">
                                    window.onload = function () {
                                        alert("Please enter the Comment!");
                                    };
                                </script>
                            }  
            </td>
        </tr>
    }
    </tbody>
</table>    
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>
</html>